@media screen and (max-width: 500px) {

    #main-container{
        position: relative;
        display: flex;
        background: url('../img/nuka-girl-flag.png') right no-repeat fixed;
        background-size: cover;
        height: 100vh;
        width: auto;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }

    #content-container {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-content: center;
        width: 80vw;
        height: 90vh;
        gap: 1vw;
    }

    .card, .back, .front {
        min-width: 40vw;
        min-height: 10vh;
        flex: 1 1;
        font-size: 3vh;
    }
    .back, .front{
        position: absolute;
    }

    #card-group {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 auto;
        padding: 1vh;
        gap: 1vh;
        overflow-y: scroll;
        scrollbar-color: var(--vegas-gold) black;
        scrollbar-width: auto;
    }

    #home-title {
        font-size: 3.2vh;
        width: 100%;
        flex: 0 1;

    }

}