
* {
    margin: 0;
    padding: 0;
    --yale-blue: #1A4785ff;
    --vegas-gold: #f8da6c;
    --dark-cornflower-blue: #174482ff;
    --cadet: #b91313;
    --yale-blue-2: #074194;
}

#main-container{
    display: flex;
    background: url('../img/nuka-girl-flag.png') right no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: auto;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

#content-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 90vh;
    top: 5vh;
    left: 5vh;
    gap: 2vh;
}

.card, .front, .back{
    min-width: 18vw;
    min-height: 18vh;
    overflow-wrap: break-word;
    flex: 0 2;
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    font-size: 2.8vw;
    font-family: Playball;
    position: relative;
    color: var(--vegas-gold);
}
.card {
    border: var(--vegas-gold) solid 0.5vh;
    text-align: center;
    transition: all 1.5s ease-out, transform 1s ease-out;
    --webkit-filter: blur(0px);
    transform-style: preserve-3d;


}
.container {
    display: flex;
    perspective: 500px;
}
.container:hover .card {
    transform: rotateY(180deg);
}

.back{
    position: absolute;
    background-color: var(--yale-blue);
    backface-visibility: hidden ;
    transform: rotateY(0deg);
}
.front{
    position: absolute;
    transform: rotateY(180deg);
    background-color: var(--cadet);
}

#card-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 65vh;
    width: 65vw;
    gap: 1.5vw;

}


#home-title {
    display: flex;
    color: var(--yale-blue-2);
    font-weight: bold;
    font-size: 3.3vw;
    font-family: Playball;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#white-space {
    position: absolute;
    display: flex;
    background-color: white;
    opacity: 0.4;
    top: 5vh;
    left: 5vh;
    width: 80vw;
    height: 90vh;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


